<h1>Bem-vindo a Young Investiment Group</h1>
<hr>
<br>
<h5>QUEM SOMOS</h2>
<h1>Uma nova e crescente empresa de investimento no Brasil</h1>
<hr>
<p>Nascida em 2018, a Young Investiment Group, jรก compete com outras grandes empresas <br> investidoras no mercado de Daytrade.</p>
<img src="http://www.angaasset.com.br/images/anga_fundos_slide-2_PT.jpg" alt="bg-sobre" id="bg-sobre">


<%#= link_to "logout", destroy_user_session_path, method: :delete %>